*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: #1a1a1a;
    color: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
button{
    padding: .5rem 2.5rem;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}
.yellow, .active{
    color: #F4FA1A;
}
.top-sec{
    background: url('./imgs/pattern1.png');
}
.sec-title{
    font-size: 2.25rem;
}

/* nav section */
.nav-sec{
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}
.nav-right a{
    margin: 0 .75rem;
}
.nav-right a:hover{
    color: #F4FA1A;
    transition: .3s;
}
.nav-right a:last-child{
    margin: 0;
}
.hamburger{
    display: none;
}

/* responsive nav section */
.responsive-nav{
    padding: 5rem 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 500;
    display: none;
}
.responsive-nav a:hover{
    color: #F4FA1A;
    transition: .3s;
}
.cross-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}
.cross-btn i{
    font-size: 1.2rem;
}

/* landing section */
.landing-sec{
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt-1{
    font-size: 1.1rem;
}
.landing-left h1{
    font-size: 4rem;
}
.txt-2{
    font-size: 1.5rem;
}
.contact-btn, .message-btn{
    margin-top: 1.5rem;
    border: 1px solid #F4FA1A;
    border-radius: 7px;
    background: transparent;
    color: #fff;
}
.contact-btn:hover, .message-btn:hover{
    border: 1px solid #1a1a1a;
    background-color: #F4FA1A;
    color: #1a1a1a;
    transition: .3s;
}
.contact-btn:hover a{
    color: #1a1a1a;
    transition: .3s;
}
.contact-btn i, .download-btn i, .message-btn i{
    margin-left: .5rem;
}
.landing-sec img{
    margin-top: 1.5rem;
    height: 600px;
}

/* about section */
.about-sec{
    padding: 3rem 7rem 6rem;
    border-bottom: 2px solid rgba(0,0,0,.25);
}
.about-sec .sec-title::after{
    content: "";
    width: 70px;
    height: 3px;
    display: block;
    background-color: #F4FA1A;
    position: relative;
    left: 0;
    top: 5px;
}
.about-inner{
    padding: 4rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-img{
    width: 300px;
    height: 250px;
    background-color: #bbbbbb;
    border-radius: 7px;
    position: relative;
}
.about-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
}
/* .about-left img:hover{
    border: 3px solid #F4FA1A;
    border-radius: 7px;
    transition: .3s;
} */
.img-border{
    height: 100%;
    width: 100%;
    border: 3px solid #F4FA1A;
    border-radius: 7px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: -2;
}
.about-right{
    max-width: 600px;
    text-align: center;
}
.about-right h2{
    margin-bottom: 2.5rem;
    font-weight: normal;
}
.about-right p{
    font-size: .85rem;
}
.txt-4{
    margin: 1.5rem 0 2.5rem;
}
.download-btn{
    border-radius: 10px;
    border: 1px solid #1a1a1a;
    background-color: #F4FA1A;
    font-weight: 500;
}
.download-btn:hover{
    border: 1px solid #F4FA1A;
    background-color: #1a1a1a;
    color: #F4FA1A;
    transition: .3s;
}

/* skills section */
.skills-sec{
    padding: 3rem 7rem 6rem;
    border-bottom: 2px solid rgba(0,0,0,.25);
}
.skills-sec .sec-title, .projects-sec .sec-title{
    position: relative;
    text-align: center;
}
.skills-sec .sec-title::after{
    content: "";
    margin: auto;
    width: 70px;
    height: 3px;
    display: block;
    background-color: #F4FA1A;
    position: relative;
    right: -47px;
    top: 5px;
}
.skills-inner{
    padding: 4rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}
.skills-left{
    width: 50%;
}
.txt-5{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}
.txt-6{
    font-size: .85rem;
    line-height: 1.75rem;
}
.skills-right{
    width: 50%;
}
.skill-name{
    display: flex;
    justify-content: space-between;
}
.skill-bar{
    margin: .75rem 0;
    position: relative;
    height: 5px;
}
.full-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bbbbbb;
    border-radius: 2px;
}
.percent-bar{
    position: absolute;
    height: 100%;
    background-color: #F4FA1A;
    border-radius: 2px;
}
#html{
    width: 90%;
}
#css{
    width: 80%;
}
#javascript{
    width: 40%;
}
#php{
    width: 50%;
}
#mysql{
    width: 50%;
}

/* projects section */
.projects-sec{
    padding: 4rem 0 0;
    background: url('./imgs/pattern2.png');
}
.projects-sec .sec-title::after{
    content: "";
    margin: auto;
    width: 70px;
    height: 3px;
    display: block;
    background-color: #F4FA1A;
    position: relative;
    left: -33px;
    top: 5px;
}
.projects-inner{
    padding: 4rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-box{
    display: grid;
    grid-template: repeat(5, 90px) / repeat(3,200px);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}
.project{
    width: 200px;
    background-color: #bbbbbb;
    cursor: pointer;
}
#project-1{
    grid-area: 1/1/4/2;
}
#project-2{
    grid-area: 1/2/3/3;
}
#project-3{
    grid-area: 1/3/2/4;
}
#project-4{
    grid-area: 4/1 /5 /2;
}
#project-5{
    grid-area: 3 /2 /5 /3;
}
#project-6{
    grid-area: 2 /3 /5 /4;
}
.project:hover{
    transform: scale(1.05);
    transition: .3s;
}

/* contact section */
.contact-sec{
    padding: 3rem 7rem;
}
.contact-sec .sec-title::after{
    content: "";
    width: 70px;
    height: 3px;
    display: block;
    background-color: #F4FA1A;
    position: relative;
    right: -123px;
    top: 5px;
}
.contact-inner{
    padding: 4rem 0 0;
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}
.contact-left{
    width: 50%;
}
.txt-7{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
.row{
    margin: .75rem 0;
    width: 100%;
}
.row:first-child{
    display: flex;
}
.row:first-child input:first-child{
    margin-right: .5rem;
    width: 40%;
}
.row:first-child input:last-child{
    width: 60%;
}
input, textarea{
    padding: 0 .5rem;
    width: 100%;
    height: 35px;
    background: #bbbbbb;
    border: 0;
    border-radius: 7px;
    outline: none;
}
textarea{
    padding-top: .5rem;
    height: 75px;
}
.line{
    width: 1px;
    height: 300px;
    background-color: #fff;
}
.contact-right{
    width: 50%;
}
.contact-right div{
    margin: 1rem 0;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
}
.contact-right i{
    color: #F4FA1A;
    width: 50px;
    font-size: 1.3rem;
}
.txt-8{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.txt-9{
    font-size: .85rem;
    margin-bottom: 3.5rem;
}

/* footer section */
.footer p{
    text-align: center;
    margin-bottom: 1rem;
}